.UserNotifications {
    $notification-height: 71px;
    $divider-height: (9px * 2) + 1px;
    $notifications-visible: 3;

    padding: 0;
    max-height: ($notification-height + $divider-height) * $notifications-visible - $divider-height;
    overflow-y: auto;
}

.UserNotification {
    padding: 7px;

    > {
        padding: 0 10px !important;

        .close:hover, .close:focus {

                > .icon-cross-14-grayLightest {

                    @extend .icon-cross-14-blue;

                    cursor: pointer;
                }
            }
        }

        .created-by {
            margin: 0;
            font-weight: 500;
        }

        .message {
            margin-top: 5px;
            margin-bottom: 0;
        }

        .Time {
            margin-left: 5px;
        }
    }
}
