.UserNotifications {
    $notification-height: 71px;
    $divider-height: (9px * 2) + 1px;
    $notifications-visible: 3;

    padding: 0;
    max-height: ($notification-height + $divider-height) * $notifications-visible - $divider-height;
    overflow-y: auto;
}

.UserNotification {
    padding: 7px;

    > {
        padding: 0 10px !important;

        .close {

            margin-top: 0px;
            margin-right: 15px;

            > .icon-cross-16 {

                @extend .icon-cross-16-grayLightest;
            }

            &:hover, &:focus {

                    > .icon-cross-16 {

                        @extend .icon-cross-16-blue;
                        cursor: pointer;
                    }
            }
        }

        .created-by {
            margin: 0;
            font-weight: 500;
            color: $white;
        }

        .message {
            margin-top: 5px;
            margin-bottom: 0;
            color: $white;
            width: 225px;
        }

        .created-at {
            @extend .small;
            font-style: italic;

                > span.Time {
                    padding-left: 5px;
                }
        }

    }
}
