.UserNotifications {
    $notification-height: 71px;
    $divider-height: (9px * 2) + 1px;
    $notifications-visible: 7;

    padding: 0;
    width: 400px;
    max-height: ($notification-height + $divider-height) * $notifications-visible;
    overflow-y: auto;

  .btn {
    margin: 5px 15px 15px 0;
    float: right;
  }
}

.UserNotification {
    padding: 0px 15px;
    background-color: $gray-darkest;
    color: $gray-light;
    word-wrap: break-word;

    .btn {
        margin: 5px 5px 0 0;
        float: left;
    }

    > {
        padding: 0 10px !important;

        .close {

            margin-top: 0;
            margin-right: 0;

            > .icon-cross-16 {

                @extend .icon-cross-16-grayLightest;
            }

            &:hover, &:focus {

                    > .icon-cross-16 {

                        @extend .icon-cross-16-blue;
                        cursor: pointer;
                    }
            }
        }

    }

    .created-by {
        margin: 10px 0 0 0;
        font-weight: 500;
        color: $white;
    }

    .message {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .created-at {
        @extend .small;
        font-style: italic;
        color: $gray-lighter;

            > span.Time {
                padding-left: 5px;
            }
    }

    a {
        color: $white;
    }
}

.unread {
    .created-by {
        font-weight: 700;
    }
}

.NotificationBadge {
  position:relative;
}

.NotificationBadge[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-10px;
  right:-4px;
  font-size:10px;
  font-weight: bold;
  background:#FF0000;
  color:#FFFFFF;
  width:14px;
  height:14px;
  text-align: center;
  line-height:11px;
  border-radius:50%;
}

/*=======================
= Accessibility Section=
=======================*/

.hidden-span{
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
