.UserNotifications {
    color: #fff;

    $notification-height: 71px;
    $divider-height: (9px * 2) + 1px;
    $notifications-visible: 7;

    padding: 0;
    width: 500px;
    max-height: ($notification-height + $divider-height) * $notifications-visible;
    overflow-y: auto;

    .emojione {
      width: 25px;
    }

    .center {
      width: 25%;
      margin: 1rem 0;
      margin-left: calc(50% - 12.5%);
    }
}

.UserNotification {
    padding: 7px;
    color: #fff;
    > {
        padding: 0 10px !important;

        .close {

            margin-top: 0px;
            margin-right: 15px;

            > .icon-cross-16 {

                @extend .icon-cross-16-grayLightest;
            }

            &:hover, &:focus {

                    > .icon-cross-16 {

                        @extend .icon-cross-16-blue;
                        cursor: pointer;
                    }
            }
        }

        .created-by {
            margin: 0;
            font-weight: 500;
            color: $white;
        }

        .message {
            margin-top: 5px;
            margin-bottom: 0;
            color: $white;
            width: 490px;
            color: #fff;
        }

        .created-at {
            @extend .small;
            font-style: italic;
            color: $gray-lighter;

                > span.Time {
                    padding-left: 5px;
                }
        }

    }
}
/*=======================
= Accessibility Section=
=======================*/

.hidden-span{
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
