.UserNotification {
    > a {
        padding: 0 10px !important;
        .close {
            color: $gray-lighter;
            &:hover, &:focus {
                color: $white;
            }
        }

        .created-by {
            margin: 0;
            font-weight: 500;
        }

        .message {
            margin-top: 5px;
        }

        .Time {
            margin-left: 5px;
        }
    }
}
