$profile-body-height: 350px;

.profile-window {
    .modal-body {
        overflow-y: auto;
        height: $profile-body-height;
    }
}

.profile-info {
    dd, dt {
        display: inline;
    }

    dt::after {
        content: ": ";
    }

    dd::after {
        //\A is an escape sequence for newline
        content: "\A";
        white-space: pre-line;
    }

    > dl {
        margin-bottom: 40px;
    }
}

.owned-listings {
    > ul {
        @extend .list-unstyled;
        margin-top: 20px;
    }

    h4 {
        margin-bottom: 0px;
    }

    .listing {
        margin: 10px 0;

        img {
            margin-right: 10px;
            max-height: 32px;
            max-width: 32px;
        }
    }
}
