.profile-window {
    .modal-body {
        overflow-y: auto;
        max-height: 400px;
    }

    .modal-body:after {
       content: ".";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
}

.owned-listings {
    border-left: 1px solid $gray-lighter;

    > ul {
        @extend .list-unstyled;
        margin-top: 20px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .switch-text {
        display: inline-block;
        position: relative;
        bottom: 17px;
        padding-left: 10px;
    }

    .notification-tip {
        font-style: italic;
        font-size: 12px;
        color: red;
    }

    .listing {
        margin: 5px 0;
        word-wrap: break-word;
        img {
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }
    }
}

@media (max-width: 768px) {
    .owned-listings {
        border-left: none;
        border-top: 1px solid #dbdcdd;
        padding-top: 15px;
        margin-top: 20px;
    }
}
