.profile-window {
    .modal-body {
        overflow-y: auto;
        max-height: 400px;
    }

    .modal-body:after {
       content: ".";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
}

.owned-listings {
    border-left: 1px solid $gray-lighter;

    > ul {
        @extend .list-unstyled;
        margin-top: 20px;
    }

    .switch {
        position: relative;
        width: 65px;
    }

    .switch-checkbox {
        display: none;
    }

    .switch-label {
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
        border-radius: 20px;
        background-color: #487a4b;
    }

    .switch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transform: 0.4s;
    }

    .switch-inner:before, .switch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 13px;
        color: #FFFFFF;
        font-family: inherit;;
        font-weight: bold;
        box-sizing: border-box;
    }

    .switch-inner:before {
        content: "ON";
        padding-left: 10px;
        color: #FFFFFF;
    }

    .switch-inner:after {
        content: "OFF";
        padding-right: 10px;
        color: #FFFFFF;
        background-color: #ccc;
        text-align: right;
    }

    .switch-slider {
        display: block;
        width: 18px;
        margin: 6px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 35px;
        border-radius: 20px;
        transition: 0.4s;
    }

    .switch-checkbox:checked + .switch-label .switch-inner {
        margin-left: 0;
    }

    .switch-checkbox:checked + .switch-label .switch-slider {
        right: 0px;
    }

    .switch-text {
        display: inline-block;
        position: relative;
        bottom: 17px;
        padding-left: 10px;
    }

    .notification-tip {
        font-style: italic;
        font-size: 12px;
        color: red;
    }

    .listing {
        margin: 5px 0;
        word-wrap: break-word;
        img {
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }
    }
}

@media (max-width: 768px) {
    .owned-listings {
        border-left: none;
        border-top: 1px solid #dbdcdd;
        padding-top: 15px;
        margin-top: 20px;
    }
}
