.profile-window {
    .modal-body {
        overflow-y: auto;
        max-height: 400px;
    }

    .modal-body:after {
       content: ".";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
}

.owned-listings {
    border-left: 1px solid $gray-lighter;

    > ul {
        @extend .list-unstyled;
        margin-top: 20px;
    }

    .listing {
        margin: 5px 0;
        word-wrap: break-word;
        img {
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }
    }
}

@media (max-width: 768px) {
    .owned-listings {
        border-left: none;
        border-top: 1px solid #dbdcdd;
        padding-top: 15px;
        margin-top: 20px;
    }
}
