@import "variables";

@import "mixins";
@import "switches";
@import "notification";
@import "profile-window";
@import "settings-window";
@import "load-error";

$icons: (
    icon-home-grayLightest: icon-home-white,
    icon-shopping-grayLightest: icon-shopping-white,
    icon-layout-grayLightest: icon-layout-white,
    icon-question-grayLightest: icon-question-white,
    icon-menu-grayLightest: icon-menu-white,
    icon-bell-grayLightest: icon-bell-white,
    icon-cross-grayLightest: icon-cross-white,
    icon-ribbon-grayLightest: icon-ribbon-white,
    icon-head-grayLightest: icon-head-white,
    icon-cog-grayLightest: icon-cog-white,
    icon-square-plus-grayLightest: icon-square-plus-white,
    icon-cloud-grayLightest: icon-cloud-white,
    icon-layers-grayLightest: icon-layers-white,
    icon-shopping-settings-grayLightest: icon-shopping-settings-white,
    icon-bar-graph-2-grayLightest: icon-bar-graph-2-white,
    icon-mail-grayLightest: icon-mail-white
);
@include sprite-icons($icons);

.activeIcon.icon-shopping-grayLightest {
	@extend .icon-shopping-blue;
}
.activeIcon.icon-home-grayLightest {
	@extend .icon-home-blue;
}
.activeIcon.icon-layout-grayLightest {
	@extend .icon-layout-blue;
}

li.active {

	> a:hover, > a:focus {

		> .icon-shopping-grayLightest.activeIcon {

			@extend .icon-shopping-blue;

		}

        > .icon-home-grayLightest.activeIcon {

			@extend .icon-home-blue;

		}

        > .icon-layout-grayLightest.activeIcon {

            @extend .icon-layout-blue;

        }
	}
}

button.close {

    &:hover, &:focus, &:active{

        > .icon-cross-10-grayDark{
            @extend .icon-cross-10-blueDark;
        }

        > .icon-cross-14-grayDark{
            @extend .icon-cross-14-blueDark;
        }

        > .icon-cross-16-grayDark{
            @extend .icon-cross-16-blueDark;
        }

        > .icon-cross-18-grayDark{
            @extend .icon-cross-18-blueDark;
        }

    }

}
