@import "variables";

@import "mixins";
@import "switches";
@import "notification";
@import "notification-window";
@import "profile-window";
@import "contacts-window";
@import "settings-window";
@import "load-error";

$icons: (
    icon-shopping-grayLightest: icon-shopping-white,
    icon-layout-grayLightest: icon-layout-white,
    icon-question-grayLightest: icon-question-white,
    icon-menu-grayLightest: icon-menu-white,
    icon-bell-grayLightest: icon-bell-white,
    icon-cross-grayLightest: icon-cross-white,
    icon-ribbon-grayLightest: icon-ribbon-white,
    icon-head-grayLightest: icon-head-white,
    icon-cog-grayLightest: icon-cog-white,
    icon-square-plus-grayLightest: icon-square-plus-white,
    icon-cloud-grayLightest: icon-cloud-white,
    icon-layers-grayLightest: icon-layers-white,
    icon-shopping-settings-grayLightest: icon-shopping-settings-white,
    icon-bar-graph-2-grayLightest: icon-bar-graph-2-white,
    icon-mail-grayLightest: icon-mail-white,
    icon-lightbulb-grayLightest: icon-lightbulb-white,
    icon-help-bubble-grayLightest: icon-help-bubble-white,
    icon-speech-bubble-grayLightest: icon-speech-bubble-white
);
@include sprite-icons($icons);

.activeIcon.icon-shopping-grayLightest {
	@extend .icon-shopping-blue;
}
.activeIcon.icon-home-grayLightest {
	@extend .icon-home-blue;
}
.activeIcon.icon-layout-grayLightest {
	@extend .icon-layout-blue;
}

li.active {

	> a:hover, > a:focus {

		> .icon-shopping-grayLightest.activeIcon {

			@extend .icon-shopping-blue;

		}

        > .icon-home-grayLightest.activeIcon {

			@extend .icon-home-blue;

		}

        > .icon-layout-grayLightest.activeIcon {

            @extend .icon-layout-blue;

        }
	}
}

button.close {

    &:hover, &:focus, &:active{

        > .icon-cross-10-grayDark{
            @extend .icon-cross-10-blueDark;
        }

        > .icon-cross-14-grayDark{
            @extend .icon-cross-14-blueDark;
        }

        > .icon-cross-16-grayDark{
            @extend .icon-cross-16-blueDark;
        }

        > .icon-cross-18-grayDark{
            @extend .icon-cross-18-blueDark;
        }

    }

}

.caboose {
    background: $gray-dark;
}


// Help Tour
// ozp-react-commons


.popover[class*="tour-"] {
    border-color: $blue;

    .popover-title,
    .popover-content,
    .popover-navigation,
    .popover-header {
        padding: 5px 25px;
    }

    .popover-title {
        background: transparent;
        color: $blue-dark;
        font-weight: bold;
        border: 0;
        padding-top: 25px;
    }

    .popover-subtitle {
        padding-top: 0;
    }
    
    .popover-content,
    .popover-navigation {
        color: $gray-darker;
    }

    .popover-navigation {
        padding-bottom: 25px;
    }

    &.bottom > .arrow { border-bottom-color: $blue; }
    &.top > .arrow { border-top-color: $blue; }
    &.left > .arrow { border-left-color: $blue; }
    &.right > .arrow { border-right-color: $blue; }
    &.orphan > .arrow { display: none; }
}

.tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.tour-step-backdrop {
  position: relative;
  z-index: 1051;

    > td {
      position: relative;
      z-index: 1051;
    }
}

.tour-step-background {
  position: absolute !important;
  z-index: 1050;
  background: inherit;
  border-radius: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

